################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SampleBitmap/.vs/SampleBitmap/v15
/.vs/01_YuraHomework/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs
/output/SampleBitmap
/SampleBitmap.zip
/CreateDevice/.vs/CreateDevice/v15
/output
/CreateDevice/CreateDevice/x64/Debug
/Direct2D/x64/Debug
/x64/Debug
/Network_Client/x64/Debug
